body {
    font-family: 'PT Sans', sans-serif;
    color: #010101;
}

/*Header section Start*/
header {
    background-color: #fcdb00;
    padding: 15px 0;
}


.menu ul li a {
    font-size: 22px;
    font-weight: 700;
    color: #010101 !important;
    text-transform: capitalize;
    padding: 0 35px !important;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;

}

.menu ul li a:hover {
    color: #fff !important;
}

.menu ul li:last-child a {
    padding-right: 0 !important;
}

/*Header section End*/

/*slider section Start*/
.slider {
    background-color: #fcdb00;
    height: 100vh;
    padding-bottom: 100px;
}

.slider-text {
    margin-top: 10%;
}

.slider-text h1 {
    font-size: 32px;
    font-weight: 700;
    color: #010101;
    margin: 0;
}

.slider-text h2 {
    font-size: 22px;
    font-weight: 400;
    color: #313841;
    margin: 20px 0;
    font-weight: 600;
}

.slider-text p {
    font-weight: 400;
    color: #555555;
    margin-top: 0;
    margin-bottom: 30px;
}

.slider-icon li i {
    font-size: 42px;
    margin-right: 20px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;

}

.slider-icon li i:hover {
    color: #fff;
}

.slider-image {
    margin-left: 85px;
}


.slider-indicator {
    bottom: -75px;
}

.slider-indicator .active {
    opacity: 1;
}

.slider-indicator li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/*slider section css end*/

/* features start  */
#features {
    margin-bottom: 100px;
}

.section_header {
    margin-top: 100px;
    margin-bottom: 70px;
}

.section_title {
    font-size: 32px;
    font-weight: 700;
}

.section_para {
    font-size: 20px;
    word-spacing: 2px;
    line-height: 28px;
}

.features_icon {
    font-size: 50px;
    margin-top: 5px;
}

.features_title {
    font-size: 22px;
    font-weight: 600;
}

.features_para {
    color: #898989;
}

.mt_60 {
    margin-top: 60px;
}

/* features end  */

/* Contact section Start */
.contact {
    background-color: #010101;
    padding-bottom: 70px;
}

.t_yellow {
    color: #fcdb00;
}

.t_ash {
    color: #898989;
}

.contact_form {
    margin-bottom: 50px;
}

.s_form {
    padding: 28px;
}

.s_form:focus {
    /* border: none; */
    box-shadow: none;
}

.s_btn {
    color: #010101;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 30px;
    background-color: #fcdb00;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.s_btn:hover {
    background-color: #fff;
}

.socials_icons .fab {
    font-size: 40px;
    color: #fcdb00;
    margin: 0 8px;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.socials_icons .fab:hover {
    color: #fff;
}

.top_footer {
    color: #fff;
    margin-top: 80px;
}

.top_footer p {
    margin-bottom: 6px !important;
}

.top_footer a {
    color: #fff;
}

/* Contact section End */





/* footer Start */
#footer {
    background-color: #fcdb00;
    padding-bottom: 15px;
}

#footer hr {
    border: none;
    height: 4px;
    background-color: gainsboro;
    margin-top: 0;
}

#footer p {
    margin-bottom: 0;
}

/* footer End */